<div class="container">
    <a href="#/contacts" class="btn btn-default">Volver</a>

    <h2>{{pageTitle}}</h2>

    <form ng-submit="save()">
        <div class="row">
            <div class="col-md-4 ">
                <div class="input-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" ng-model="contact.name" required maxlength="80"
                           class="form-control"/>
                </div>
            </div>
            <div class="col-md-4">
                <div classs="input-group">
                    <label for="surname">Apellido</label>
                    <input type="text" id="surname" name="surname" ng-model="contact.surname" maxlength="80"
                           class="form-control"/>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" ng-model="contact.email" required class="form-control"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <label for="birthDate">Fecha de nacimiento</label>
                    <input type="date" id="birthDate" name="birthDate" ng-model="contact.birthDate" min="1920-01-01"
                           max="2014-12-31" placeholder="yyyy-mm-dd" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <label for="mobilePhone">Móvil</label>
                    <input type="text" id="mobilePhone" name="mobilePhone" ng-model="contact.mobilePhone" maxlength="13"
                           class="form-control"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <label for="telephone">Teléfono</label>
                    <input type="text" id="telephone" name="telephone" ng-model="contact.telephone" maxlength="11"
                           class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <label for="address">Dirección</label>
                    <input type="text" id="address" name="address" ng-model="contact.address" class="form-control"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <label for="state">Provincia</label>
                    <input type="text" id="state" name="state" ng-model="contact.state" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <label for="city">Ciudad</label>
                    <input type="text" id="city" name="city" ng-model="contact.city" class="form-control"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <label for="country">País</label>
                    <input type="text" id="country" name="country" ng-model="contact.country" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="gender">Género</label>
                    <gender id="gender" name="gender" selected="contact.gender"></gender>
                </div>
            </div>
        </div>
        <br/>
        <input type="submit" value="Guardar" class="btn btn-primary"/>
    </form>
</div>