<div class="container">
    <a href="#/customPages">Volver</a>

    <h1>Borrando {{customPage.name}}</h1>

    <h2>Está seguro que desea eliminar esta página personalizada?</h2>

    <h3>Borrar</h3>

    <div>
        <b>Name</b>
        <span>{{customPage.name}}</span>
    </div>
    <div>
        <b>Tipo</b>
        <span>{{customPage.type}}</span>
    </div>
    <div>
        <b>Inicio</b>
        <span>{{customPage.dateStart}}</span>
    </div>
    <div>
        <b>Fin</b>
        <span>{{customPage.dateEnd}}</span>
    </div>
    <form ng-submit="delete()">
        <input type="submit" class="button" value="Borrar"/>
    </form>
</div>
