<div class="container">
    <a href="#/pages" class="btn btn-default">Volver</a>

    <h1>Borrando {{page.name}}</h1>

    <h3>Está seguro que desea eliminar este página?</h3>

    <p>
        <strong>Modificado</strong>
        <span>{{page.updated_at | dateTimeFormat}}</span>
    </p>

    <p>
        <strong>Editor</strong>
        <span>{{page.editor.name}}</span>
    </p>

    <form ng-submit="delete()">
        <input type="submit" value="Borrar" class="btn btn-danger"/>
    </form>
</div>