<div class="container">
    <a href="#/pages" class="btn btn-default">Volver</a>

    <h2>{{pageTitle}}</h2>

    <form ng-submit="pageEditorForm.$valid && save()" name="pageEditorForm" role="form" class="form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" ng-model="page.name" required maxlength="80"
                           class="form-control"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title">Título</label>
                    <input type="text" id="title" name="title" ng-model="page.title" required maxlength="80"
                           class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <label for="layout">Diseño</label>
                    <select id="layout" name="layout" ng-model="page.layout"
                            ng-options="layout._id as layout.name for layout in layouts" required class="form-control">
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <label for="forCustomPages">Sólo para páginas personalizadas</label>&nbsp;
                    <input type="checkbox" id="forCustomPages" name="forCustomPages" ng-model="page.forCustomPages"/>
                </div>
            </div>
        </div>
        <div class="row" ng-show="!page.forCustomPages">
            <div class="col-md-6">
                <div class="input-group">
                    <label for="keywords">Keywords SEO</label>
                    <input type="text" id="keywords" name="keywords" ng-model="urlConfiguration.keywords"
                           class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row" ng-show="!page.forCustomPages">
            <div class="col-md-6 ">
                <div class="input-group">
                    <label for="isTracked">Activar seguimiento</label>&nbsp;
                    <input type="checkbox" id="isTracked" name="isTracked" ng-model="urlConfiguration.isTracked"/>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="input-group">
                    <label for="subdomain">Subdominio</label>
                    <input type="text" id="subdomain" name="subdomain" ng-model="urlConfiguration.subdomain"
                           ng-required="!page.forCustomPages" maxlength="20" class="form-control"/>
                    <span ng-show="urlConfiguration.subdomain">
                        http://{{urlConfiguration.subdomain}}.{{host}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 form-group">
                <label for="html">HTML</label>
                <textarea id="html" name="html" ui-tinymce ng-model="page.html" required></textarea>
            </div>
            <div class="col-md-4 form-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-barcode"></span>&nbsp;Código de barras
                    </div>
                    <div class="panel-body">
                        <a ng-click="addBarcode()" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>Estático
                        </a>
                        <a ng-click="addDynamicBarcode()" ng-show="page.forCustomPages" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>Dinámico
                        </a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-qrcode"></span>&nbsp;Código QR
                    </div>
                    <div class="panel-body">
                        <a ng-click="addQrCode()" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>Estático
                        </a>
                        <a ng-click="addDynamicQrCode()" ng-show="page.forCustomPages" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>Dinámico
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <label for="qrGenerated">Generar código QR?</label>&nbsp;
                    <input type="checkbox" id="qrGenerated" name="qrGenerated" ng-model="page.qrGenerated"
                           disabled="disabled"/>
                </div>
            </div>
        </div>
        <div class="row" ng-show="page.qrGenerated">
            <div class="col-md-6">
                <div class="input-group">
                    <label for="qrData">Valor</label>
                    <input type="text" id="qrData" name="qrData" ng-model="page.qrData"
                           ng-required="page.qrGenerated" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div></div>
                <label for="barcodeGenerated">Generar código de barras?</label>&nbsp;
                <input type="checkbox" id="barcodeGenerated" name="barcodeGenerated"
                       ng-model="page.barcodeGenerated" disabled="disabled"/>
            </div>
        </div>
        <div class="row" ng-show="page.barcodeGenerated">
            <div class="col-md-6 form-group">
                <label for="barcodeData">Valor</label>
                <input type="text" id="barcodeData" name="barcodeData" ng-model="page.barcodeData"
                       ng-required="page.barcodeGenerated" class="form-control"/>
            </div>
            <div class="col-md-6 form-group">
                <label>Tamaño</label>
                <barcode-size selected="page.barcodeSize"></barcode-size>
            </div>
        </div>
        <br/>
        <input type="submit" value="Guardar" ng-click="customize=false;" class="btn btn-primary"/>
        <input type="submit" value="Guardar y Personalizar" ng-click="customize=true;" class="btn btn-primary"
               ng-show="page.forCustomPages"/>
    </form>
</div>