body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 250px;
    background-image: url("/images/home/bgHeader.jpg");
}

header .logo {
    padding-top: 75px;
}

header .login {
    padding-top: 100px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

header .login div {
    margin-top: 100px;
    height: 60px;
    width: 250px;
    padding: 20px 0 0 0;
    background-image: url("/images/home/btnLogin.png");
}

.home-section-1 {
    padding: 30px 30px;
    height: 128px;
    text-transform: uppercase;
    color: #EA4F42;
    font-size: 20px;
    /*background: url('/images/home/lineMobile.jpg') no-repeat;*/
}

.home-section-2-title {
    font-size: 24px;
}

.home-section-2 {
    background-color: #333;
    color: white;
    font-size: 24px;
    /*margin-top: 150px;*/
    margin-top: 40px;
    padding-bottom: 10px;
    border: 0 solid #EA4F42;
    border-top-width: 15px;
}

/*.home-section-2 img {
    margin-top: -106px;
}*/

.home-section-2 img {
    margin-top: 25px;
}

.home-section-3 {
    font-size: 20px;
    /*text-align: justify;*/
    margin-top: 50px;
}

footer {
    margin-top: 80px;
}

footer .line {
    background-color: #333;
    height: 8px;
}

footer .bottom {
    background-image: url("/images/home/bgFooter.jpg");
    height: 150px;
    font-size: 20px;
    color: white;
}

footer .bottom div {
    padding-top: 80px;
}

h1 {
    font-size: 46px;
    color: #EA4F42;
    text-align: right;
    padding-right: 32px;
    background: url('/images/arrowTitle.png') no-repeat right;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-image: url("/images/home/bgHeader.jpg");
}

.main-nav .container {
    padding: 30px 0 0 0;
}

.main-nav ul.nav {
    float: right;
    list-style-type: none;
    border: 0px;
}

.main-nav ul.nav > li {
    vertical-align: top;
    padding: 0 8px;
}

.main-nav ul.nav > li > a {
    border: 0px;
    line-height: 30px;
    background-color: transparent;
    padding: 5px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}

.main-nav ul.nav > li > a.active, .main-nav ul.nav > li > a:hover {
    border: 0px;
    padding: 5px;
    margin: 0;
}

.logo {
    float: left;
    padding: 10px 0;
}

/*
.navbar-nav a {
    text-transform: uppercase;
}

.navbar-brand {
    height: auto;
}
*/

.btn-new {
    display: inline-block;
    background-color: #EA4F42;
    font-size: 20px;
    border-radius: 24px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    margin-bottom: 15px;
}

.row-header {
    background-color: #333 !important;
    border-radius: 7px 7px 0 0;
    color: white;
}

.row-odd {
    background-color: #EAEAEA;
}

.row-even {
    background-color: #F6F6F6;
}

.clickicon {
    margin-top: 3px;
    position: relative;
    display: inline-block;
    height: 32px;
    width: 32px;
}

.clickicon-mouse-red {
    background: url('/images/sprite.png') 0 0;
}

.clickicon-mouse-green {
    background: url('/images/sprite.png') -40px 0;
}

.clickicon-bulb-off {
    background: url('/images/sprite.png') -80px 0;
}

.clickicon-bulb-on {
    background: url('/images/sprite.png') -120px 0;
}

.clickicon-qrcode {
    background: url('/images/sprite.png') 0 -40px;
}

.clickicon-barcode {
    background: url('/images/sprite.png') -40px -40px;
}

.clickicon-page {
    background: url('/images/sprite.png') -80px -40px;
}

.clickicon-page-dynamic {
    background: url('/images/sprite.png') -120px -40px;
}

.clickicon-pencil {
    background: url('/images/sprite.png') 0 -80px;
}

.clickicon-cloud-upload {
    background: url('/images/sprite.png') -40px -80px;
}

.clickicon-trash {
    background: url('/images/sprite.png') -80px -80px;
}

.clickicon-signal {
    background: url('/images/sprite.png') -120px -80px;
}

.clickicon-eye {
    background: url('/images/sprite.png') 0 -120px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

.daysReport, .deviceReport {
    height: 200px;
    //width: 200px;
}

.mobile {
    margin-top: 20px;
}

@media screen and (max-width: 995px) {
    .home-section-1 {
        font-size: 16px;
    }

    .home-section-2 {
        font-size: 18px;
    }

    .home-section-3 {
        font-size: 18px;
    }

    header .login div {
        margin: 10px 40px;
    }
}

@media screen and (max-width: 320px) {
    .home-section-1 {
        font-size: 14px;
    }

    .home-section-2 {
        font-size: 14px;
    }

    .home-section-3 {
        font-size: 14px;
    }

    header .login div {
        margin: 10px 0;
    }
}

.view {
    margin-top: 100px;
}

div .division{
    background-color: #333;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    color: white;
}

div .section{
    padding: 10px 10px 20px 10px;
}

.red {
    background-color: rgba(255, 3, 4, 0.36);
    color: red;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    padding: 0.5%;
    border-radius: 5px;
}

.center {
    margin-left: 35%;
    margin-right: auto;
}
