<div class="container">
    <a href="#/layouts" class="btn btn-default">Volver</a>

    <h2>{{pageTitle}}</h2>

    <form ng-submit="save()">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" id="name" ng-model="layout.name"/>
        </div>
        <div class="form-group">
            <label for="footerBackgroundColor">Color de fondo</label>
            <input type="text" id="footerBackgroundColor" colorpicker="hex" colorpicker-with-input="true"
                   ng-model="layout.footerBackgroundColor"/>
        </div>
        <div class="form-group">
            <label for="footer">Pie de página</label>
            <textarea id="footer" ui-tinymce ng-model="layout.footer"></textarea>
        </div>
        <br/>
        <input type="submit" value="Guardar" class="btn btn-primary"/>
    </form>
</div>