<a href="#/layouts" class="btn btn-default">Back</a>
<h2>Layout</h2>
<form ng-submit="save()">
    <div class="input-group">
        <label for="name">Name</label>
        <input type="text" id="name" ng-model="layout.name"/>
    </div>
    <div class="input-group">
        <label for="footerBackgroundColor">Background color</label>
        <input type="text" id="footerBackgroundColor" colorpicker="hex" colorpicker-with-input="true"  ng-model="layout.footerBackgroundColor"/>
    </div>
    <div class="input-group">
        <label for="footer">Footer</label>
        <textarea id="footer" ui-tinymce ng-model="layout.footer"></textarea>
    </div>
    <br/>
    <input type="submit" value="save" class="btn btn-primary"/>
</form>