<div class="container">
    <a href="#/companies" class="btn btn-default">Back</a>

    <h2>Company</h2>

    <form ng-submit="save()">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" ng-model="company.name" class="form-control"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" ng-model="company.email" class="form-control"/>
                </div>
            </div>
        </div>
        <br/>
        <input type="submit" value="save" class="btn btn-primary"/>
    </form>
</div>